@import '../../utils/mixins';

.generalNotifications {
  margin-top: 35px;

  @include grid-container;

  &__row {
    @include grid-row;
  }

  &__messages {
    display: flex;
    gap: 5px;
  }

  &__text {
    max-width: 333px;
    font-size: 14px;
    line-height: 22px;
  }
}
