@import '../../utils/mixins';

.siteNotifications {
  margin-top: 80px;

  @include grid-container;

  gap: 30px;

  &__title {
    margin: 0,
  }

  &__row {
    @include grid-row;
  }

  &__subtitle {
    position: relative;
    @media only screen and (max-width: 900px) and (min-width: 280px) {
     max-width: 200px;
    }
  }

  &__ads {
    @include grid-row;
  }

  &__text {
    position: relative;
    top: 22px;
  }
}

